%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;
  padding: $base-padding * 2;
  //box-shadow: $base-box-shadow;
  /*   .site-title {
    font-size: $font-size-lg;
  } */
  .site-logo {
    width: clamp(5rem, 50vw, 10rem);
  }
  li a {
    font-size: $font-size-xs;
    @include md {
      font-size: $base-font-size;
    }
  }
  .nav-wrapper {
    @extend %flex-layout;
    width: min(100% - 40px, 80rem);
    margin-inline: auto;
  }
}

@each $key, $val in $colors {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}
